@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-grid gap-3 col-md-6 mx-auto mt-5">
    <!--
    <a href="/CreateSession" class="btn btn-primary btn-lg">Create Session (Educator)</a>
    -->
    <a href="/Login" class="btn btn-primary btn-lg">Educator Login</a>
    <a href="/JoinSession" class="btn btn-success btn-lg">Join Session (Student)</a>
</div>
