@page
@model DealtHands.Pages.LogoutModel
@{
    // This page should never render - OnGet redirects immediately
    // But include this just in case
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h2>Logging out...</h2>
</div>
