USE [master]
GO
/****** Object:  Database [DealtHandsDB]    Script Date: 3/25/2026 12:00:43 PM ******/
CREATE DATABASE [DealtHandsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DealtHandsDB', FILENAME = N'C:\College\USI\Spring2026\CS483-SeniorProject\CodeRepos\DealtHandsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DealtHandsDB_log', FILENAME = N'C:\College\USI\Spring2026\CS483-SeniorProject\CodeRepos\DealtHandsDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DealtHandsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DealtHandsDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educators]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PasswordResetExpires] [datetime2](7) NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Educators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameChangerEvents]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameChangerEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[FinancialImpact] [decimal](18, 2) NOT NULL,
	[IsPositive] [bit] NOT NULL,
	[TriggersInRound] [int] NOT NULL,
	[DifficultyLevel] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[SessionId] [int] NULL,
 CONSTRAINT [PK_GameChangerEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerChoices]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerChoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[RoundNumber] [int] NOT NULL,
	[RoundType] [nvarchar](max) NOT NULL,
	[ChoiceDescription] [nvarchar](max) NOT NULL,
	[MonthlyCost] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[WasRandomlyAssigned] [bit] NOT NULL,
	[ChosenAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PlayerChoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerGameChangers]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerGameChangers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[GameChangerEventId] [int] NOT NULL,
	[OccurredAt] [datetime2](7) NOT NULL,
	[RoundNumber] [int] NOT NULL,
 CONSTRAINT [PK_PlayerGameChangers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SessionId] [int] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[MonthlyIncome] [decimal](18, 2) NOT NULL,
	[MonthlyExpenses] [decimal](18, 2) NOT NULL,
	[TotalDebt] [decimal](18, 2) NOT NULL,
	[Savings] [decimal](18, 2) NOT NULL,
	[FinancialHealth] [nvarchar](max) NOT NULL,
	[PlayerCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 3/25/2026 12:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[GameMode] [nvarchar](max) NOT NULL,
	[Difficulty] [nvarchar](max) NOT NULL,
	[MaxPlayers] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsStarted] [bit] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CurrentRound] [int] NOT NULL,
	[EducatorId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_GameChangerEvents_SessionId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameChangerEvents_SessionId] ON [dbo].[GameChangerEvents]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerChoices_PlayerId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlayerChoices_PlayerId] ON [dbo].[PlayerChoices]
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerGameChangers_GameChangerEventId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlayerGameChangers_GameChangerEventId] ON [dbo].[PlayerGameChangers]
(
	[GameChangerEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerGameChangers_PlayerId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlayerGameChangers_PlayerId] ON [dbo].[PlayerGameChangers]
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Players_SessionId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Players_SessionId] ON [dbo].[Players]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sessions_EducatorId]    Script Date: 3/25/2026 12:00:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sessions_EducatorId] ON [dbo].[Sessions]
(
	[EducatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (N'') FOR [PlayerCode]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameChangerEvents]  WITH CHECK ADD  CONSTRAINT [FK_GameChangerEvents_Sessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[GameChangerEvents] CHECK CONSTRAINT [FK_GameChangerEvents_Sessions_SessionId]
GO
ALTER TABLE [dbo].[PlayerChoices]  WITH CHECK ADD  CONSTRAINT [FK_PlayerChoices_Players_PlayerId] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerChoices] CHECK CONSTRAINT [FK_PlayerChoices_Players_PlayerId]
GO
ALTER TABLE [dbo].[PlayerGameChangers]  WITH CHECK ADD  CONSTRAINT [FK_PlayerGameChangers_GameChangerEvents_GameChangerEventId] FOREIGN KEY([GameChangerEventId])
REFERENCES [dbo].[GameChangerEvents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerGameChangers] CHECK CONSTRAINT [FK_PlayerGameChangers_GameChangerEvents_GameChangerEventId]
GO
ALTER TABLE [dbo].[PlayerGameChangers]  WITH CHECK ADD  CONSTRAINT [FK_PlayerGameChangers_Players_PlayerId] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerGameChangers] CHECK CONSTRAINT [FK_PlayerGameChangers_Players_PlayerId]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Sessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Sessions_SessionId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Educators_EducatorId] FOREIGN KEY([EducatorId])
REFERENCES [dbo].[Educators] ([Id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Educators_EducatorId]
GO
USE [master]
GO
