USE [master]
GO
/****** Object:  Database [DealtHandsDBV2]    Script Date: 5/6/2026 5:39:19 PM ******/
CREATE DATABASE [DealtHandsDBV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DealtHandsDBV2', FILENAME = N'C:\Users\evans\DealtHandsDBV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DealtHandsDBV2_log', FILENAME = N'C:\Users\evans\DealtHandsDBV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DealtHandsDBV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DealtHandsDBV2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[RoundType] [varchar](20) NOT NULL,
	[CardType] [varchar](20) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[Description] [varchar](255) NULL,
	[MonthlyAmount] [decimal](10, 2) NULL,
	[FieldData] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[DifficultyLevel] [tinyint] NOT NULL,
	[RequiresStudentLoans] [bit] NULL,
	[RequiresCar] [bit] NULL,
	[RequiresCarLoan] [bit] NULL,
	[RequiresOwnsHome] [bit] NULL,
	[RequiresApartment] [bit] NULL,
	[RequiresRoommate] [bit] NULL,
	[RequiresMarried] [bit] NULL,
	[RequiresChildren] [bit] NULL,
	[SetsStudentLoans] [bit] NULL,
	[SetsCar] [bit] NULL,
	[SetsCarLoan] [bit] NULL,
	[SetsOwnsHome] [bit] NULL,
	[SetsApartment] [bit] NULL,
	[SetsRoommate] [bit] NULL,
	[SetsMarried] [bit] NULL,
	[SetsChildren] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardLifeSituation]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardLifeSituation](
	[CardLifeSituationId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[LifeSituationId] [int] NOT NULL,
	[RelationType] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CardLifeSituation] PRIMARY KEY CLUSTERED 
(
	[CardLifeSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CardLifeSituation] UNIQUE NONCLUSTERED 
(
	[CardId] ASC,
	[LifeSituationId] ASC,
	[RelationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[Description] [varchar](255) NULL,
	[Mode] [varchar](20) NOT NULL,
	[MaxPlayers] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameChanger]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameChanger](
	[GameChangerId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[Description] [varchar](500) NULL,
	[RoundType] [varchar](20) NOT NULL,
	[DifficultyLevel] [tinyint] NOT NULL,
	[MonthlyAmount] [decimal](10, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[RequiresApartment] [bit] NULL,
	[RequiresCar] [bit] NULL,
	[RequiresCarLoan] [bit] NULL,
	[RequiresOwnsHome] [bit] NULL,
	[RequiresStudentLoans] [bit] NULL,
	[RequiresRoommate] [bit] NULL,
	[RequiresMarried] [bit] NULL,
	[RequiresChildren] [bit] NULL,
	[RequiresJob] [bit] NULL,
	[IncomeEffect] [decimal](10, 2) NULL,
	[IncomeEffectPercent] [decimal](5, 4) NULL,
	[ExpenseEffect] [decimal](10, 2) NULL,
	[SetsApartment] [bit] NULL,
	[SetsCar] [bit] NULL,
	[SetsCarLoan] [bit] NULL,
	[SetsOwnsHome] [bit] NULL,
	[SetsStudentLoans] [bit] NULL,
	[SetsRoommate] [bit] NULL,
	[SetsMarried] [bit] NULL,
	[SetsChildren] [bit] NULL,
	[SetsJob] [bit] NULL,
	[Weight] [int] NULL,
 CONSTRAINT [PK_GameChanger] PRIMARY KEY CLUSTERED 
(
	[GameChangerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameChangerLifeSituation]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameChangerLifeSituation](
	[GameChangerLifeSituationId] [int] IDENTITY(1,1) NOT NULL,
	[GameChangerId] [int] NOT NULL,
	[LifeSituationId] [int] NOT NULL,
	[RelationType] [varchar](20) NOT NULL,
 CONSTRAINT [PK_GameChangerLifeSituation] PRIMARY KEY CLUSTERED 
(
	[GameChangerLifeSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GameChangerLifeSituation] UNIQUE NONCLUSTERED 
(
	[GameChangerId] ASC,
	[LifeSituationId] ASC,
	[RelationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameRound]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRound](
	[GameRoundId] [bigint] IDENTITY(1,1) NOT NULL,
	[GameSessionId] [bigint] NOT NULL,
	[RoundNumber] [tinyint] NOT NULL,
	[RoundType] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[OpenedAt] [datetime] NULL,
	[ClosedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_gameround_session_roundnum] UNIQUE NONCLUSTERED 
(
	[GameSessionId] ASC,
	[RoundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameSession]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameSession](
	[GameSessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[GameId] [bigint] NOT NULL,
	[HostUserId] [bigint] NOT NULL,
	[JoinCode] [varchar](12) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CurrentRoundNumber] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[StartedAt] [datetime] NULL,
	[PausedAt] [datetime] NULL,
	[ResumedAt] [datetime] NULL,
	[EndedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [varchar](100) NULL,
	[Difficulty] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JoinCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifeSituation]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifeSituation](
	[LifeSituationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LifeSituation] PRIMARY KEY CLUSTERED 
(
	[LifeSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LifeSituation_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UGC]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UGC](
	[UGCId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CardId] [int] NULL,
	[GameChangerId] [int] NULL,
	[GameRoundId] [bigint] NOT NULL,
	[GameSessionId] [bigint] NOT NULL,
	[SubmittedAmount] [decimal](10, 2) NULL,
	[RunningTotal] [decimal](10, 2) NULL,
	[AssignedAt] [datetime] NOT NULL,
	[SubmittedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UGCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ugc_user_round_card] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[GameRoundId] ASC,
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/6/2026 5:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](40) NOT NULL,
	[Email] [varchar](120) NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PasswordResetToken] [varchar](255) NULL,
	[PasswordResetExpires] [datetime] NULL,
	[IsEducator] [bit] NOT NULL,
	[HasStudentLoans] [bit] NOT NULL,
	[HasCar] [bit] NOT NULL,
	[HasCarLoan] [bit] NOT NULL,
	[OwnsHome] [bit] NOT NULL,
	[HasApartment] [bit] NOT NULL,
	[HasRoommate] [bit] NOT NULL,
	[IsMarried] [bit] NOT NULL,
	[HasChildren] [bit] NOT NULL,
	[HasJob] [bit] NOT NULL,
	[PlayerCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_card_cardtype]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_card_cardtype] ON [dbo].[Card]
(
	[CardType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_card_roundtype]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_card_roundtype] ON [dbo].[Card]
(
	[RoundType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cardlifesituation_card]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_cardlifesituation_card] ON [dbo].[CardLifeSituation]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cardlifesituation_lifesituation]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_cardlifesituation_lifesituation] ON [dbo].[CardLifeSituation]
(
	[LifeSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cardlifesituation_relation]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_cardlifesituation_relation] ON [dbo].[CardLifeSituation]
(
	[RelationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamechanger_difficulty]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamechanger_difficulty] ON [dbo].[GameChanger]
(
	[DifficultyLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_gamechanger_roundtype]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamechanger_roundtype] ON [dbo].[GameChanger]
(
	[RoundType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamechangerlifesituation_gamechanger]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamechangerlifesituation_gamechanger] ON [dbo].[GameChangerLifeSituation]
(
	[GameChangerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamechangerlifesituation_lifesituation]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamechangerlifesituation_lifesituation] ON [dbo].[GameChangerLifeSituation]
(
	[LifeSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_gamechangerlifesituation_relation]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamechangerlifesituation_relation] ON [dbo].[GameChangerLifeSituation]
(
	[RelationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gameround_session]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gameround_session] ON [dbo].[GameRound]
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamesession_game]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_game] ON [dbo].[GameSession]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamesession_host]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_host] ON [dbo].[GameSession]
(
	[HostUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_gamesession_status]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_status] ON [dbo].[GameSession]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_card]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_card] ON [dbo].[UGC]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_gamechanger]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_gamechanger] ON [dbo].[UGC]
(
	[GameChangerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_round]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_round] ON [dbo].[UGC]
(
	[GameRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_session]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_session] ON [dbo].[UGC]
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_user]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_user] ON [dbo].[UGC]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_ugc_user_round_gamechanger]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_ugc_user_round_gamechanger] ON [dbo].[UGC]
(
	[UserId] ASC,
	[GameRoundId] ASC,
	[GameChangerId] ASC
)
WHERE ([GameChangerId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Username_Educator]    Script Date: 5/6/2026 5:39:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_Username_Educator] ON [dbo].[User]
(
	[Username] ASC
)
WHERE ([IsEducator]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Card] ADD  CONSTRAINT [DF_Card_CardType]  DEFAULT ('RoundCard') FOR [CardType]
GO
ALTER TABLE [dbo].[Card] ADD  CONSTRAINT [DF_Card_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Card] ADD  CONSTRAINT [DF_Card_DifficultyLevel]  DEFAULT ((0)) FOR [DifficultyLevel]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameChanger] ADD  CONSTRAINT [DF_GameChanger_DifficultyLevel]  DEFAULT ((0)) FOR [DifficultyLevel]
GO
ALTER TABLE [dbo].[GameChanger] ADD  CONSTRAINT [DF_GameChanger_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameRound] ADD  CONSTRAINT [DF_GameRound_Status]  DEFAULT ('NotStarted') FOR [Status]
GO
ALTER TABLE [dbo].[GameRound] ADD  CONSTRAINT [DF_GameRound_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_Status]  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_CurrentRoundNumber]  DEFAULT ((1)) FOR [CurrentRoundNumber]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LifeSituation] ADD  CONSTRAINT [DF_LifeSituation_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UGC] ADD  CONSTRAINT [DF_UGC_AssignedAt]  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UGC] ADD  CONSTRAINT [DF_UGC_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsEducator]  DEFAULT ((0)) FOR [IsEducator]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasStudentLoans]  DEFAULT ((0)) FOR [HasStudentLoans]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasCar]  DEFAULT ((0)) FOR [HasCar]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasCarLoan]  DEFAULT ((0)) FOR [HasCarLoan]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_OwnsHome]  DEFAULT ((0)) FOR [OwnsHome]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasApartment]  DEFAULT ((0)) FOR [HasApartment]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasRoommate]  DEFAULT ((0)) FOR [HasRoommate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsMarried]  DEFAULT ((0)) FOR [IsMarried]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasChildren]  DEFAULT ((0)) FOR [HasChildren]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasJob]  DEFAULT ((1)) FOR [HasJob]
GO
ALTER TABLE [dbo].[CardLifeSituation]  WITH CHECK ADD  CONSTRAINT [FK_CardLifeSituation_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([CardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardLifeSituation] CHECK CONSTRAINT [FK_CardLifeSituation_Card]
GO
ALTER TABLE [dbo].[CardLifeSituation]  WITH CHECK ADD  CONSTRAINT [FK_CardLifeSituation_LifeSituation] FOREIGN KEY([LifeSituationId])
REFERENCES [dbo].[LifeSituation] ([LifeSituationId])
GO
ALTER TABLE [dbo].[CardLifeSituation] CHECK CONSTRAINT [FK_CardLifeSituation_LifeSituation]
GO
ALTER TABLE [dbo].[GameChangerLifeSituation]  WITH CHECK ADD  CONSTRAINT [FK_GameChangerLifeSituation_GameChanger] FOREIGN KEY([GameChangerId])
REFERENCES [dbo].[GameChanger] ([GameChangerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameChangerLifeSituation] CHECK CONSTRAINT [FK_GameChangerLifeSituation_GameChanger]
GO
ALTER TABLE [dbo].[GameChangerLifeSituation]  WITH CHECK ADD  CONSTRAINT [FK_GameChangerLifeSituation_LifeSituation] FOREIGN KEY([LifeSituationId])
REFERENCES [dbo].[LifeSituation] ([LifeSituationId])
GO
ALTER TABLE [dbo].[GameChangerLifeSituation] CHECK CONSTRAINT [FK_GameChangerLifeSituation_LifeSituation]
GO
ALTER TABLE [dbo].[GameRound]  WITH CHECK ADD  CONSTRAINT [fk_gameround_session] FOREIGN KEY([GameSessionId])
REFERENCES [dbo].[GameSession] ([GameSessionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameRound] CHECK CONSTRAINT [fk_gameround_session]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [fk_gamesession_game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [fk_gamesession_game]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [fk_gamesession_host] FOREIGN KEY([HostUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [fk_gamesession_host]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([CardId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_card]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_gamechanger] FOREIGN KEY([GameChangerId])
REFERENCES [dbo].[GameChanger] ([GameChangerId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_gamechanger]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_round] FOREIGN KEY([GameRoundId])
REFERENCES [dbo].[GameRound] ([GameRoundId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_round]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_session] FOREIGN KEY([GameSessionId])
REFERENCES [dbo].[GameSession] ([GameSessionId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_session]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_user]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [ck_card_difficulty_range] CHECK  (([DifficultyLevel]>=(0) AND [DifficultyLevel]<=(3)))
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [ck_card_difficulty_range]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [ck_card_roundtype] CHECK  (([RoundType]='Family' OR [RoundType]='Housing' OR [RoundType]='Transportation' OR [RoundType]='StudentLoan' OR [RoundType]='Career'))
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [ck_card_roundtype]
GO
ALTER TABLE [dbo].[GameChanger]  WITH CHECK ADD  CONSTRAINT [ck_gamechanger_difficulty_range] CHECK  (([DifficultyLevel]>=(1) AND [DifficultyLevel]<=(3)))
GO
ALTER TABLE [dbo].[GameChanger] CHECK CONSTRAINT [ck_gamechanger_difficulty_range]
GO
ALTER TABLE [dbo].[GameChanger]  WITH CHECK ADD  CONSTRAINT [ck_gamechanger_roundtype] CHECK  (([RoundType]='Family' OR [RoundType]='Housing' OR [RoundType]='Transportation' OR [RoundType]='StudentLoan' OR [RoundType]='Career'))
GO
ALTER TABLE [dbo].[GameChanger] CHECK CONSTRAINT [ck_gamechanger_roundtype]
GO
ALTER TABLE [dbo].[GameRound]  WITH CHECK ADD  CONSTRAINT [ck_gameround_roundnumber_range] CHECK  (([RoundNumber]>=(1) AND [RoundNumber]<=(5)))
GO
ALTER TABLE [dbo].[GameRound] CHECK CONSTRAINT [ck_gameround_roundnumber_range]
GO
ALTER TABLE [dbo].[GameRound]  WITH CHECK ADD  CONSTRAINT [ck_gameround_roundtype] CHECK  (([RoundType]='Family' OR [RoundType]='Housing' OR [RoundType]='Transportation' OR [RoundType]='StudentLoan' OR [RoundType]='Career'))
GO
ALTER TABLE [dbo].[GameRound] CHECK CONSTRAINT [ck_gameround_roundtype]
GO
ALTER TABLE [dbo].[GameRound]  WITH CHECK ADD  CONSTRAINT [ck_gameround_status] CHECK  (([Status]='Closed' OR [Status]='Open' OR [Status]='NotStarted'))
GO
ALTER TABLE [dbo].[GameRound] CHECK CONSTRAINT [ck_gameround_status]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [ck_gamesession_difficulty] CHECK  (([Difficulty] IS NULL OR ([Difficulty]='Hard' OR [Difficulty]='Medium' OR [Difficulty]='Easy')))
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [ck_gamesession_difficulty]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [ck_gamesession_status] CHECK  (([Status]='Completed' OR [Status]='Paused' OR [Status]='InProgress' OR [Status]='Waiting'))
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [ck_gamesession_status]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [ck_ugc_card_xor_gamechanger] CHECK  (([CardId] IS NOT NULL AND [GameChangerId] IS NULL OR [CardId] IS NULL AND [GameChangerId] IS NOT NULL))
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [ck_ugc_card_xor_gamechanger]
GO
USE [master]
GO
