USE [master]
GO
/****** Object:  Database [DealtHandsDBV2]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE DATABASE [DealtHandsDBV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DealtHandsDBV2', FILENAME = N'C:\College\USI\Spring2026\CS483-SeniorProject\CodeRepos\DealtHandsDBV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DealtHandsDBV2_log', FILENAME = N'C:\College\USI\Spring2026\CS483-SeniorProject\CodeRepos\DealtHandsDBV2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DealtHandsDBV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DealtHandsDBV2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[RoundType] [varchar](20) NOT NULL,
	[CardType] [varchar](20) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[Description] [varchar](255) NULL,
	[MonthlyAmount] [decimal](10, 2) NULL,
	[FieldData] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[Description] [varchar](255) NULL,
	[Mode] [varchar](20) NOT NULL,
	[MaxPlayers] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameRound]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRound](
	[GameRoundId] [bigint] IDENTITY(1,1) NOT NULL,
	[GameSessionId] [bigint] NOT NULL,
	[RoundNumber] [tinyint] NOT NULL,
	[RoundType] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[OpenedAt] [datetime] NULL,
	[ClosedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_gameround_session_roundnum] UNIQUE NONCLUSTERED 
(
	[GameSessionId] ASC,
	[RoundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameSession]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameSession](
	[GameSessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[GameId] [bigint] NOT NULL,
	[HostUserId] [bigint] NOT NULL,
	[JoinCode] [varchar](12) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CurrentRoundNumber] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[StartedAt] [datetime] NULL,
	[PausedAt] [datetime] NULL,
	[ResumedAt] [datetime] NULL,
	[EndedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [varchar](100) NULL,
	[Difficulty] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JoinCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UGC]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UGC](
	[UGCId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CardId] [int] NOT NULL,
	[GameRoundId] [bigint] NOT NULL,
	[GameSessionId] [bigint] NOT NULL,
	[SubmittedAmount] [decimal](10, 2) NULL,
	[RunningTotal] [decimal](10, 2) NULL,
	[AssignedAt] [datetime] NOT NULL,
	[SubmittedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UGCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ugc_user_round_card] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[GameRoundId] ASC,
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/30/2026 11:29:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](40) NOT NULL,
	[Email] [varchar](120) NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsEducator] [bit] NOT NULL,
	[PasswordResetToken] [varchar](255) NULL,
	[PasswordResetExpires] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_card_cardtype]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_card_cardtype] ON [dbo].[Card]
(
	[CardType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_card_roundtype]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_card_roundtype] ON [dbo].[Card]
(
	[RoundType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gameround_session]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_gameround_session] ON [dbo].[GameRound]
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamesession_game]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_game] ON [dbo].[GameSession]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_gamesession_host]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_host] ON [dbo].[GameSession]
(
	[HostUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_gamesession_status]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_gamesession_status] ON [dbo].[GameSession]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_card]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_card] ON [dbo].[UGC]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_round]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_round] ON [dbo].[UGC]
(
	[GameRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_session]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_session] ON [dbo].[UGC]
(
	[GameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_ugc_user]    Script Date: 3/30/2026 11:29:57 AM ******/
CREATE NONCLUSTERED INDEX [idx_ugc_user] ON [dbo].[UGC]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Card] ADD  DEFAULT ('RoundCard') FOR [CardType]
GO
ALTER TABLE [dbo].[Card] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameRound] ADD  DEFAULT ('NotStarted') FOR [Status]
GO
ALTER TABLE [dbo].[GameRound] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameSession] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[GameSession] ADD  DEFAULT ((1)) FOR [CurrentRoundNumber]
GO
ALTER TABLE [dbo].[GameSession] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GameSession] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UGC] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UGC] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsEducator]
GO
ALTER TABLE [dbo].[GameRound]  WITH CHECK ADD  CONSTRAINT [fk_gameround_session] FOREIGN KEY([GameSessionId])
REFERENCES [dbo].[GameSession] ([GameSessionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameRound] CHECK CONSTRAINT [fk_gameround_session]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [fk_gamesession_game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [fk_gamesession_game]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [fk_gamesession_host] FOREIGN KEY([HostUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [fk_gamesession_host]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([CardId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_card]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_round] FOREIGN KEY([GameRoundId])
REFERENCES [dbo].[GameRound] ([GameRoundId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_round]
GO
ALTER TABLE [dbo].[UGC]  WITH CHECK ADD  CONSTRAINT [fk_ugc_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UGC] CHECK CONSTRAINT [fk_ugc_user]
GO
USE [master]
GO
